<div class="task3">
  <div class="registration">

    <div class="table">

      <h3>Name</h3>
      <input type="text" placeholder="Name" [(ngModel)]="name"><br>
      <span *ngIf = "name && (name.length < 3)">The Length of Name should be 3 or more</span>

      <h3>Age</h3>
      <input type="text" placeholder="Age" [(ngModel)]="age"><br>
      <span *ngIf = "age && (+age < 20 || +age > 40)">The Age should be between 20 and 40</span>

    </div>

    <input type="button" value="Add" (click)="Add()">

  </div>
</div>



