.nav{
    background-color: rgb(186, 224, 247);
    margin-bottom: 60px;
  }
  .nav ul li{padding:15px 20px 5px;}
  .nav ul li a{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  