<div class="nav d-flex justify-content-center">
  <ul class="list-unstyled d-flex">
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Registration</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/profile">Profile</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/profile/5">Details</a></li>
    <li><a routerLinkActive="active" routerLink="/hjfd">Error</a></li>
  </ul>
</div>
