<div class="container alert alert-dark" style="width: 50%;">
  <form class="row g-3">

    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input #name type="text" class="form-control" id="name">
    </div> 

    <div class="col-md-6">
      <label for="phone" class="form-label">Phone</label>
      <input #phone type="number" class="form-control" id="phone">
    </div>

    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input #email type="email" class="form-control" id="email" placeholder="example@e.com">
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input #address type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="col-md-6">
      <label for="age" class="form-label">Age</label>
      <input #age type="number" class="form-control" id="age">
    </div>

    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input #city type="text" class="form-control" id="inputCity">
    </div>
    
    <div class="col-6">
      <button type="submit" class="btn btn-primary"
      (click)="add(name.value,age.value,email.value,address.value,city.value,phone.value)">Add New User</button>
    </div>
  </form>
</div>